/* Defino el estilo del Header y en Nav */
header{
    width: 100%;
    grid-area: Cabecera;
    align-items: center;
    justify-content: center ;
}
.header{
    background-color: #FCF9C6;
    display: flex;
    flex-flow: row wrap;
    &__img{
        display:flex;
        margin: auto;
    }
    .header__nav {
        display: flex;
        justify-content:$ctr;
        align-items:$ctr;
        list-style: none;
        font-size: 0;
        .header__lista{
            display: inline-block;
            justify-content: $ctr;
            align-items:$ctr;
            flex-flow: row wrap;
            .header__btm{
                font-family: Lobster;
                font-size:2rem;
                text-decoration: none;
                color: black;
                padding: 21px;
            }
            .header__btm:hover{
                background-color: black;
                color: white;
            }
        }
    }
}

