/* Inicio de Media Querie */
@media screen and (max-width: 880px) {
    .body__productos{
        grid-template-columns: 20% 1fr;
    }
    .header__nav{
        flex-flow: column wrap;
    }
    .main__img {
        width: 480px;
        height: 223px;
    }
    .footer__titulo{
        margin-right: 0px;
    }
    .header__btm{
        font-size:1.8rem;
        padding: 0px;
        padding-left: 8px;
        padding-right: 8px;
    }
    
    
}
@media screen and (max-width:768px) {
    footer {
        flex-flow: column wrap;
    }
    .main__img{
        width: 380px;
        height: 177px;
    }
    .header__btm{
        font-size:1.5rem;
        padding: 0px;
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media screen and (max-width:688px) {
    .body__productos{
        grid-template-columns: 25% 1fr;
    }
    .header__btm{
        font-size:1.3rem;
        padding: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .footer__item{
        padding-left: 8px;
        padding-right: 8px;
    }
    .main__media{
        width: 45vmax;
    }
    .main__tienda{
        flex-flow: column nowrap;
    }
    .main__form{
        text-align: center;
    }
    .main__input
    {
        width: 350px;
    }

}